@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"), url("../fonts/inter-v13-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2"), url("../fonts/inter-v13-latin-700.ttf") format("truetype");
}
:root {
  --font-primary: "Inter";
  --color-text-light: #a9a9a9;
  --color-hovered: #dddddd;
  --color-text-dark: #000;
  --color-background-primary: #212525;
  --color-background-secondary: #5b5b5b;
}

.link {
  color: currentColor;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-hovered);
}

.card {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  position: relative;
  padding: 25px;
}
.card__title {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.card__title > h2 {
  font-weight: 400;
  font-size: 21px;
}
.card__pipe-version {
  background-color: var(--color-background-secondary);
  font-weight: 400;
  font-size: 21px;
  color: var(--color-text-light);
  border-radius: 15px;
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__pipe-address {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}
.card__pipe-email {
  font-weight: 400;
  font-size: 9px;
}
.card__control {
  position: absolute;
  bottom: 8px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.main {
  display: flex;
  margin-top: 48px;
}
.main__sidebar {
  width: 290px;
  height: calc(100vh - 70px - 48px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__sidebar__menu {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text-light);
}
.main__sidebar__menu-item:not(:last-child) {
  margin-bottom: 52px;
}
.main__sidebar__api-link {
  opacity: 0.6;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 60px;
}
.main__pipe-list {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 65px;
  padding-left: 290px;
  height: calc(100vh - 70px - 48px);
  overflow-y: auto;
}

.container {
  padding: 0 40px;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
}
.header__title {
  font-weight: 700;
  font-size: 32px;
}

.pipe-list__frame {
  width: 245px;
  height: 175px;
  border: 1px solid var(--color-text-light);
  border-radius: 15px;
}
.pipe-list__add {
  background: var(--color-background-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text-light);
  font-family: var(--font-primary);
}/*# sourceMappingURL=main.css.map */