:root {
  --font-primary: "Inter";
  --color-text-light: #a9a9a9;
  --color-hovered: #dddddd;
  --color-text-dark: #000;
  --color-background-primary: #212525;
  --color-background-secondary: #5b5b5b;
}
