.main {
  display: flex;
  margin-top: 48px;
  &__sidebar {
    width: 290px;
    height: calc(100vh - 70px - 48px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__menu {
      font-weight: 700;
      font-size: 24px;
      color: var(--color-text-light);
    }
    &__menu-item:not(:last-child) {
      margin-bottom: 52px;
    }
    &__api-link {
      opacity: 0.6;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 60px;
    }
  }
  &__pipe-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 65px;
    padding-left: 290px;
    height: calc(100vh - 70px - 48px);
    overflow-y: auto;
  }
}
